* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  position: relative;
  .name {
    width: 1250px;
    position: absolute;
    font-size: 50px;
    font-family: monospace;
    font-weight: 500;
    color: white;
    display: flex;
    z-index: 999999;
    margin: 60px 0 0 60px;
    justify-content: space-between;
    div {
      pointer-events: none;
    }
    button {
      border-radius: 20px;
      background-color: rgba(207, 207, 207, 0.5);
      outline: none;
      border: rgba(207, 207, 207, 0.5);
      color: black;
      padding: 0 30px 0 30px;
      font-size: 20px;
      transition: all 200ms ease-in-out;
      &:hover {
        border-radius: 20px;
        background-color: rgba(9, 43, 121, 1);
        outline: none;
        border: 3px solid rgb(221, 216, 216);
        color: white;
        font-size: 25px;
      }
    }
  }
}

.main {
  height: 821px;
  width: 1350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 43, 121, 1) 17%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;

  .container {
    height: 40%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 350px;
    .search {
      width: 230px;
      height: 270px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      position: relative;

      .search-btn {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 200ms ease-in-out;
        position: absolute;
        &:hover {
          background-color: white;
          border: 7px solid rgb(221, 216, 216);
          color: rgba(9, 43, 121, 1);
          width: 80px;
          height: 80px;
        }
        .fa-magnifying-glass {
          color: white;
          font-size: 30px;
          margin-right: 5px;
          cursor: pointer;
          padding-left: 4.5px;
          padding-bottom: 3px;
          transition: all 200ms ease-in-out;
          &:hover {
            color: rgba(9, 43, 121, 1);
            font-size: 45px;
          }
        }
      }
      .cancel-btn {
        height: 40px;
        width: 40px;
        font-size: 30px;
        border-radius: 50%;
        color: white;
        display: none;
        justify-content: center;
        align-items: center;
        transition: all 200ms ease-in-out;
        position: absolute;
        &:hover {
          color: red;
        }
      }
      input {
        display: none;
        height: 40px;
        width: 250px;
        background-color: rgb(255, 255, 255);
        border: 5px solid rgb(221, 216, 216);
        border-radius: 10px;
        font-size: 15px;
        padding-left: 10px;
        outline: none;
        &::placeholder {
          color: rgb(177, 177, 177);
        }
      }
    }
    .location,
    .cloudAnimation,
    .temperature {
      height: 200px;
      width: 200px;
      font-size: 30px;
      font-family: monospace;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: white;
      cursor: pointer;
      transition: all 200ms ease-in-out;
    }
    .cloudAnimation {
      &:hover {
        font-size: 120px;
      }
    }
    .location {
      &:hover {
        font-size: 260%;
      }
    }

    .cloudAnimation {
      font-size: 70px;
    }
    .temperature {
      padding-top: 50px;
      gap: 10px;
      font-size: 50px;
      display: flex;
      transition: all 300ms ease-in-out;
      &:hover {
        background-color: rgba(207, 207, 207, 0.5);
        border-radius: 50px 50px;
        color: black;
      }
      h1 {
        &:hover {
          color: red;
        }
      }
      .fa-c {
        &:hover {
          color: red;
        }
      }
      .unit {
        font-size: 20px;
        font-weight: 300;
        font-family: monospace;
        padding-left: 15px;
        &:hover {
          color: red;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 350px) {
  body {
    .name {
      width: 100%;
      margin: 30px 0 0 0;
      justify-content: space-between;
      align-items: center;
      div {
        font-size: 20px;
        margin: 0 0 0 30px;
        padding: 0;
      }
      button {
        width: 100px;
        height: 60px;
        color: black;
        padding: 0;
        margin-right: 25px;
        &:hover {
          border-radius: 20px;
          background-color: rgba(9, 43, 121, 1);
          outline: none;
          border: 3px solid rgb(221, 216, 216);
          color: white;
          font-size: 20px;
        }
      }
    }
    .main {
      width: 100%;
      height: 200%;
      .container {
        gap: 70px;
        margin-top: 100px;
        .search {
          height: 20%;
          input {
            margin-right: 30px;
            height: 50px;
          }
          .cancel-btn {
            margin-right: 60px;
            background-color: white;
            border-radius: 50%;
            color: rgba(9, 43, 121, 1);
          }
        }
        .location {
          height: 20%;
          &:hover {
            font-size: 30px;
          }
        }
        .cloudAnimation {
          height: 10%;
          margin-top: 20px;
          &:hover {
            font-size: 70px;
          }
        }
        .temperature {
          display: flex;
          height: 20%;
          width: 30%;
          background-color: unset;
          gap: 0;
          padding: 0;
          margin-top: 30px;
          &:hover {
            background-color: unset;
          }
        }
      }
    }
  }
}

@media (min-width: 351px) and (max-width: 375px) {
  body {
    .name {
      width: 100%;
      margin: 30px 0 0 0;
      justify-content: space-between;
      align-items: center;
      div {
        font-size: 20px;
        margin: 0 0 0 30px;
        padding: 0;
      }
      button {
        width: 100px;
        height: 60px;
        color: black;
        padding: 0;
        margin-right: 25px;
        &:hover {
          border-radius: 20px;
          background-color: rgba(9, 43, 121, 1);
          outline: none;
          border: 3px solid rgb(221, 216, 216);
          color: white;
          font-size: 20px;
        }
      }
    }
    .main {
      width: 100%;
      height: 200%;
      .container {
        gap: 70px;
        margin-top: 100px;
        .search {
          height: 20%;
          input {
            margin-right: 30px;
            height: 50px;
          }
          .cancel-btn {
            margin-right: 60px;
            background-color: white;
            border-radius: 50%;
            color: rgba(9, 43, 121, 1);
          }
        }
        .location {
          height: 20%;
          &:hover {
            font-size: 30px;
          }
        }
        .cloudAnimation {
          height: 10%;
          margin-top: 20px;
          &:hover {
            font-size: 70px;
          }
        }
        .temperature {
          display: flex;
          height: 20%;
          width: 30%;
          background-color: unset;
          gap: 0;
          padding: 0;
          margin-top: 30px;
          &:hover {
            background-color: unset;
          }
        }
      }
    }
  }
}

@media (min-width: 400px) and (max-width: 425px) {
  body {
    .name {
      width: 100%;
      margin: 30px 0 0 0;
      justify-content: space-between;
      align-items: center;
      div {
        font-size: 20px;
        margin: 0 0 0 30px;
        padding: 0;
      }
      button {
        width: 100px;
        height: 60px;
        color: black;
        padding: 0;
        margin-right: 25px;
        &:hover {
          border-radius: 20px;
          background-color: rgba(9, 43, 121, 1);
          outline: none;
          border: 3px solid rgb(221, 216, 216);
          color: white;
          font-size: 20px;
        }
      }
    }
    .main {
      width: 100%;
      height: 200%;
      .container {
        gap: 70px;
        margin-top: 100px;
        .search {
          height: 20%;
          width: 300px;
          input {
            margin-right: 40px;
            height: 50px;
            width: 300px;
          }
          .cancel-btn {
            margin-left: 50px;
            background-color: white;
            border-radius: 50%;
            color: rgba(9, 43, 121, 1);
          }
        }
        .location {
          height: 20%;
          &:hover {
            font-size: 30px;
          }
        }
        .cloudAnimation {
          height: 10%;
          margin-top: 20px;
          &:hover {
            font-size: 70px;
          }
        }
        .temperature {
          display: flex;
          height: 20%;
          width: 30%;
          background-color: unset;
          gap: 0;
          padding: 0;
          margin-top: 30px;
          &:hover {
            background-color: unset;
          }
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  body {
    .name {
      width: 100%;
      margin: 30px 0 0 0;
      justify-content: space-between;
      align-items: center;
      div {
        font-size: 20px;
        margin: 0 0 0 30px;
        padding: 0;
      }
      button {
        width: 100px;
        height: 60px;
        color: black;
        padding: 0;
        margin-right: 25px;
        &:hover {
          border-radius: 20px;
          background-color: rgba(9, 43, 121, 1);
          outline: none;
          border: 3px solid rgb(221, 216, 216);
          color: white;
          font-size: 20px;
        }
      }
    }
    .main {
      width: 100%;
      height: 200%;
      .container {
        gap: 70px;
        margin-top: 100px;
        .search {
          height: 20%;
          width: 500px;
          input {
            margin-right: 40px;
            height: 50px;
            width: 500px;
          }
          .cancel-btn {
            background-color: white;
            border-radius: 50%;
            color: rgba(9, 43, 121, 1);
          }
        }
        .location {
          height: 20%;
          &:hover {
            font-size: 30px;
          }
        }
        .cloudAnimation {
          height: 10%;
          margin-top: 20px;
          &:hover {
            font-size: 70px;
          }
        }
        .temperature {
          display: flex;
          height: 20%;
          width: 30%;
          background-color: unset;
          gap: 0;
          padding: 0;
          margin-top: 30px;
          &:hover {
            background-color: unset;
          }
        }
      }
    }
  }
}

@media (min-width: 850px) and (max-width: 1024px) {
  body {
    .name {
      width: 100%;
      margin: 30px 0 0 0;
      justify-content: space-between;
      align-items: center;
      div {
        font-size: 20px;
        margin: 0 0 0 30px;
        padding: 0;
      }
      button {
        width: 100px;
        height: 60px;
        color: black;
        padding: 0;
        margin-right: 25px;
        &:hover {
          border-radius: 20px;
          background-color: rgba(9, 43, 121, 1);
          outline: none;
          border: 3px solid rgb(221, 216, 216);
          color: white;
          font-size: 20px;
        }
      }
    }
    .main {
      width: 100%;
      height: 200%;
      .container {
        gap: 70px;
        margin-top: 100px;
        .search {
          height: 20%;
          width: 700px;
          input {
            margin-right: 40px;
            height: 50px;
            width: 700px;
          }
          .cancel-btn {
            background-color: white;
            border-radius: 50%;
            color: rgba(9, 43, 121, 1);
          }
        }
        .location {
          height: 20%;
          &:hover {
            font-size: 30px;
          }
        }
        .cloudAnimation {
          height: 10%;
          margin-top: 20px;
          &:hover {
            font-size: 70px;
          }
        }
        .temperature {
          display: flex;
          height: 20%;
          width: 30%;
          background-color: unset;
          gap: 0;
          padding: 0;
          margin-top: 30px;
          &:hover {
            background-color: unset;
          }
        }
      }
    }
  }
}
